# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# ML datasets
# Keep empty dataset directories
datasets/

# Generated model artifacts
models/

# Jupyter
.ipynb_checkpoints/

.complete/
